# ignore all files
/*

# white list
## required
!.gitignore
!README.md
!build
!docs
!src
!data
!impl_result
!tests
!LICENSE

## project share
# !final-project-hls/
# !final-project-hls/solution*
# !final-project-hls/solution*/directives.tcl
# !final-project-hls/solution*/script.tcl
# black list
*.out
.vscode/
final-project-hls/solution*/*
final-project-hls/*

