# ignore all files
/*

# white list
!.gitignore
!README.md
!/src
!final-project-hls/
final-project-hls/*
!final-project-hls/solution*
final-project-hls/solution*/*
!final-project-hls/solution*/directives.tcl
!final-project-hls/solution*/script.tcl
!CPU-IP
# black list
*.out
.vscode/

